[general]
site_title.default = "Tobira Test Deployment"
tobira_url = "https://{% if id != 'main' %}{{id}}.{% endif %}tobira.opencast.org"
users_searchable = true

[general.metadata]
dcterms.source = "builtin:source"
dcterms.license = "builtin:license"
dcterms.spatial = { default = "Location", de = "Ort", it = "Luogo", fr = "Lieu" }

[db]
database = "tobira-{{ id }}"
user = "tobira-{{ id }}"
password = "tobira-{{ id }}"
tls_mode = "off"

[meili]
key = "tobira"
index_prefix = "tobira_{{ id }}_"

[http]
unix_socket = "/opt/tobira/{{ id }}/socket/tobira.sock"
unix_socket_permissions = 0o777

[auth]
source = "tobira-session"
session.from_login_credentials = "login-callback:http+unix://[/opt/tobira/{{ id }}/socket/auth.sock]/"
login_page.note.default = 'Dummy users: "jose", "morgan", "björk" and "sabine". Password for all: "tobira".'
login_page.note.de = 'Testnutzer: "jose", "morgan", "björk" und "sabine". Passwort für alle: "tobira".'

trusted_external_key = "tobira"

auth_static_files = true
pre_auth_external_links = true

[auth.roles]
editor = "ROLE_USER"

[auth.jwt]
signing_algorithm = "ES256"
# This is currently not created by scripts, but is expected to be generated on site manually.
secret_key = "/opt/tobira/secret-jwt-key.pem"

[log]
file = "/var/log/tobira/{{ id }}-${cmd}.log"

[opencast]
host = "https://tobira-test-oc.ethz.ch"
user = "admin"
password = "{{ opencast_admin_password }}"

[sync]
poll_period = "1min"
interpret_eth_passwords = true

[theme]
favicon = "/opt/tobira/{{ id }}/favicon.svg"
logos = [
    { path = "/opt/tobira/{{ id }}/logo-large.svg",  mode = "light", size = "wide", resolution = [425, 182] },
    { path = "/opt/tobira/{{ id }}/logo-large-dark.svg", mode = "dark", size = "wide", resolution = [425, 182] },
    { path = "/opt/tobira/{{ id }}/logo-small.svg", size = "narrow", resolution = [212, 182] },
]
