[general]
site_title.en = "Tobira Test Deployment"
tobira_url = "https://{% if id != 'master' %}{{id}}.{% endif %}tobira.opencast.org"
users_searchable = true

[general.metadata]
dcterms.source = "builtin:source"
dcterms.license = "builtin:license"
dcterms.spatial = { en = "Location", de = "Ort" }

[db]
database = "tobira-{{ id }}"
user = "tobira-{{ id }}"
password = "tobira-{{ id }}"
tls_mode = "off"

[meili]
key = "tobira"
index_prefix = "tobira_{{ id }}_"

[http]
unix_socket = "/opt/tobira/{{ id }}/socket/tobira.sock"
unix_socket_permissions = 0o777

[auth]
mode = "login-proxy"
login_page.note.en = 'Dummy users: "jose", "morgan", "björk", "sabine" and "admin". Password for all: "tobira".'
login_page.note.de = 'Testnutzer: "jose", "morgan", "björk", "sabine" und "admin". Passwort für alle: "tobira".'

trusted_external_key = "tobira"

pre_auth_external_links = true

[auth.jwt]
signing_algorithm = "ES256"
# This is currently not created by scripts, but is expected to be generated on site manually.
secret_key = "/opt/tobira/secret-jwt-key.pem"

[log]
file = "/var/log/tobira/{{ id }}.log"

[opencast]
host = "https://oc.tobira.ethz.ch"

[sync]
user = "admin"
password = "{{ opencast_admin_password }}"
poll_period = "1min"

[theme]
logo.large.path = "/opt/tobira/{{ id }}/logo-large.svg"
logo.large.resolution = [643, 217]
logo.large_dark.path = "/opt/tobira/{{ id }}/logo-large-dark.svg"
logo.large_dark.resolution = [643, 217]
logo.small.path = "/opt/tobira/{{ id }}/logo-small.svg"
logo.small.resolution = [102, 115]
logo.small_dark.path = "/opt/tobira/{{ id }}/logo-small.svg"
logo.small_dark.resolution = [212, 182]
favicon = "/opt/tobira/{{ id }}/favicon.svg"
