[Unit]
Description=Tobira {{ id }}
Documentation=https://github.com/elan-ev/tobira

After=local-fs.target
After=network.target
After=postgresql.service
After=meili.service

[Service]
WorkingDirectory=/opt/tobira/{{ id }}/
ExecStart=/opt/tobira/{{ id }}/tobira serve
Restart=always
User=tobira

[Install]
WantedBy=multi-user.target
