[Unit]
Description=Tobira Login Callback {{ id }}
Documentation=https://github.com/elan-ev/tobira

After=local-fs.target
After=network.target

[Service]
WorkingDirectory=/opt/tobira/{{ id }}/
Environment="TOBIRA_ADMIN_PASSWORD={{ tobira_admin_password }}"
ExecStart=node /opt/tobira/{{ id }}/login-handler.js {{ id }}
Restart=always
User=tobira

[Install]
WantedBy=multi-user.target
