[Unit]
Description=Tobira Auth Dummy {{ id }}
Documentation=https://github.com/elan-ev/tobira

After=local-fs.target
After=network.target

[Service]
WorkingDirectory=/opt/tobira/{{ id }}/
ExecStart=node /opt/tobira/{{ id }}/login-handler.js {{ id }}
Restart=always
User=tobira

[Install]
WantedBy=multi-user.target
