# Configuration for development environments: unless you are a Tobira
# developer, you are not interested in this file.

[general]
site_title.en = "Tobira Videoportal"
tobira_url = "http://localhost:8030"
users_searchable = true

[http]
# To make our Docker based development setup work, Tobira needs to listen
# on every interface. This is an unfortunate side effect of us trying to avoid
# host networking which is not supported on platforms other than Linux.
address = "0.0.0.0"

[db]
password = "tobira"
tls_mode = "off"

[meili]
key = "tobira"

[log]
level = "debug"

[auth]
mode = "login-proxy"
trusted_external_key = "tobira"
pre_auth_external_links = true

[auth.jwt]
signing_algorithm = "ES256"
secret_key = "jwt-key.pem"

[opencast]
host = "http://localhost:8081"

[sync]
user = "admin"
password = "opencast"
preferred_harvest_size = 3

[theme]
logo.large.path = "logo-large.svg"
logo.large.resolution = [425, 182]
logo.large_dark.path = "logo-large-dark.svg"
logo.large_dark.resolution = [425, 182]
logo.small.path = "logo-small.svg"
logo.small.resolution = [212, 182]
logo.small_dark.path = "logo-small.svg"
logo.small_dark.resolution = [212, 182]
favicon = "favicon.svg"
